<h2> Admin Panel </h2>

<% if @super_admin %>
        <a href="/questions" class="btn btn-primary btn-lg">Edit Application</a>
        <a href="/admins/add_super_admin" class="btn btn-primary btn-lg">Add/Remove SuperAdmin</a></p>
<% end %>

<h4>Current Applications (by applicant id):</h4>
<h5>(This will be replaced with a table)</h5>

<%= link_to "Download CSV", answers_path(format: "csv") %> 

<%= form_tag("/search", method: :get) do %>
  <%= label_tag(:search) %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>
<%= render 'table' %>
