<%= form_for :answers, url: { action: :create } do |f| %>
<% @in_depth.each do |question| %>
    <%= f.label(question.question_text) %> <br>
  <% if question.closed_question == true  %>
    <%= check_box("answers[#{question.id}]",:answer_text, {}, "yes", "no") %>
  <% else %>
      <%= f.text_area(question.id) %><br>
  <% end %>
  <br>
<% end %>

<div class="form-group"></br>
  <%= f.submit "Save Answers", class: "btn btn-success btn-lg" %>
</div>

<% end %>
