<center><h2> Edit Application </h2></center>

<%= form_for :answers, url: { action: :update }, method: :put do |f| %>
  <% @answers.each do |answer| %>
    <%= fields_for "answers[]", answer do |a| %>
        <%- text = answer.question.question_text %>
        <%= a.label(text) %> <br>
        <%= a.text_area(:answer_text) %><br>
    <% end %>
    <br>
  <% end %>

  <div class="form-group"></br>
    <%= f.submit "Save Answers", class: "btn btn-success btn-lg" %>
   <a href="/sectors" class="btn btn-primary btn-lg">Continue Application</a>
  </div>

<% end %>
