<center><h2> Fast Pitch Application </h2></center>

<%= form_for :answers, url: { action: :create } do |f| %>
 <% @questions.each do |question| %>
    <%= f.label(question.question_text) %> <br>
    <% if question.closed_question == true  %>
   <input type="radio" name="answers[<%= question.id %>]" value="Yes"> Yes <br>
   <input type="radio" name="answers[<%= question.id %>]" value="No"> No <br>
    <% else %>
        <textarea name="answers[<%= question.id %>]"> </textarea>
        <% end %>
  <br></br>
<% end %>

  <div class="form-group"></br>
    <%= f.submit "Save Answers", class: "btn btn-success btn-lg" %>
   <a href="/sectors" class="btn btn-primary btn-lg">Continue Application</a>
  </div>
<% end %>
