<center><h2> Fast Pitch Application </h2></center>

<%= form_for :answers, url: { action: :create } do |f| %>
<% @info.each do |question| %>
    <%= f.label(question.question_text) %> <br>
  <% if question.closed_question == true  %>
    <%= f.check_box("answers[#{question.id}]") %>
  <% else %>
      <%= f.text_area(question.id) %><br>
  <% end %>
  <br>
<% end %>

<div class="form-group"></br>
  <%= f.submit "Save Answers", class: "btn btn-success btn-lg" %>
 <a href="/sectors" class="btn btn-primary btn-lg">Continue Application</a>
</div>

<% end %>
