<center><h2> Fast Pitch Application </h2></center>

<%= render 'applicant_sectors' %>

<%= form_for :answers, url: { action: :create } do |f| %>
<% @questions.each do |question| %>
  <%= f.label(question.question_text) %>
  <%= f.text_area(question.id) %><br>
<% end %>

<div class="form-group"></br>
  <%= f.submit "Submit", class: "btn btn-success" %>
</div>

<% end %>
