<div><%= @user.name %></div>
<%= @user.contact_name %>

<% @answers.each do |answer| %>
  <div><%= answer.question.question_text %></div>
  <div><%= answer %></div>
<% end %>



<% @questions.each do |question| %>
  <div><%= question.question_text %></div><br>


</div><br>
<% end %>
