<!DOCTYPE html>
<html>
  <head>
    <title>FastPitchApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  </head>
  <body>
    <div id='main' class='container'>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <% if current_admin %>
        <a class="navbar-brand" href="/admins">FastPitch</a>
      <% elsif current_applicant %>
        <a class="navbar-brand" href="/answers">FastPitch</a>
      <% else %>
      <a class="navbar-brand" href="/">FastPitch</a>
      <% end %>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="questions/new">New Question <span class="sr-only">(current)</span></a></li> -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li> -->
          </ul>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <% unless current_admin %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if current_applicant %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, <%= current_applicant.org_name %> <span class="caret"></span></a>
          <% else %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Applicants <span class="caret"></span></a>
            <% end %>
          <ul class="dropdown-menu" role="menu">
            <% if !current_applicant %>
              <li><a href="/applicants/sign_in">Applicant Log In</a></li>
              <li><a href="/applicants/sign_up">Applicant Sign Up</a></li>
            <% end %>
            <% if current_applicant %>
              <li><%= link_to "Application Home", answers_path %></li>
              <li><%= link_to "Applicant Log out", destroy_applicant_session_path, method: :delete %>
            <% end %>
          </ul>
        </li>
      </ul>
      <% end %>
      <% unless current_applicant %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <% if current_admin %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, <%= current_admin.name %> <span class="caret"></span></a>
            <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Admins <span class="caret"></span></a>
              <% end %>
          <ul class="dropdown-menu" role="menu">
            <% if !current_admin %>
              <li><a href="/admins/sign_in">Admin Log In</a></li>
              <li><a href="/admins/sign_up">Admin Sign Up</a></li>
            <% end %>
            <% if current_admin && !current_applicant %>
            <li><a href="/admins">Admin Panel</a></li>
            <li><%= link_to "Log out", destroy_admin_session_path, method: :delete %>
            <% end %>
          </ul>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>

<div class ="container-fluid">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %>" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if message.is_a?(Array) %>
          <ul>
            <% message.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        <% else %>
            <%= message %>
        <% end %>
          </ul>
    </div>
  <% end %>

    <%= yield %>
  </div>
  </body>
</html>
